.intro {
    margin-left: 8%;
}

.intro-text {
    font-family: 'Clash Display', sans-serif;
    font-weight: 700;
    font-size: 32px;
    width: 60%;
    margin-top: 20px;
}

.intro-p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 27.5px;
    width: 510px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .intro {
        margin-left: 0;
        margin: 0 10%;
        display: block;
    }

    .intro-text {
        font-size: 24px;
        width: 100%;
    }

    .intro-p {
        width: 100%;
    }
}
