

.register-containers {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .register-images {
    flex: 1;
    padding: 20px;
  }

  .register-forms {

    padding: 20px;
  }

  .registerforms {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  @media (max-width: 768px) {
    .register-containers {
      flex-direction: column;
    }


    .register-images img {
      width: 20rem;
      height: 10rem;
      object-fit: cover;
      object-position: center;
      margin: 0 auto;
      display: block;
      transition: all 0.3s ease-in-out;
    }
    .register_forms {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }
