.please {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 12px;
  line-height: 14.63px;
}

.check {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.63px;
}

.create {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

.part {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}

.registerf {
  font-family: Clash Display;
  font-size: 32px;
  font-weight: 600;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
}

.register-container {
  height: 100%;;
  background-color: #000;
  backdrop-filter: blur(10%);
  padding: 8% 8%;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


@media (max-width: 768px) {
  .register-container {
    width: 100%;
    padding: 0;
    background: none;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .register-container form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .registerform-btn {
    width: 10rem;

  }
  .register-btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .register-cont-try form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}
