@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #150E28 !important; 
}

body::before {
  content: "" !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background-image: url('/images/Purple-Lens-Flare-PNG.svg') !important;
  background-repeat: no-repeat !important;
  background-position: 20% 15% !important;
  background-size: 40% !important;
  opacity: 0.7 !important; 
  z-index: -1 !important; 
}

body::after {
  content: "" !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background-image: url('/images/Purple-Lens-Flare.png') !important;
  background-repeat: no-repeat !important;
  background-position: 5% 10% !important;
  background-size: 40% !important;
  opacity: 0.7 !important; 
  z-index: -1 !important; 
}

body::before {
  top: 0 !important;
  left: 0 !important;
  background-position: 20% 5% !important; 
}

body::after {
  bottom: 0 !important;
  right: 0 !important;
  background-position: 100% 140% !important; 
}
